.navbar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}

.navbar .sidebar__list-items {
  list-style: none;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  
}

.link {
  text-decoration: none;
  color: green;
}

.link:hover {
  font-size: 1.3rem;
  transition: ease-in 2ms;
  color: blueviolet;
}

.cart{
  padding: 1%;
  font-size: 150%;
  color: green;
}
.cart:hover{
  font-size: 1.7rem;
  transition: ease-in 2ms;
  color: blueviolet;
}
