.layout__container {
  display: grid;
  grid-template-columns: "header"
  "main"
  "main"
  "footer";
  
}
.head{
  grid-area: "header";
}
.main{
  grid-area: "main";
  height: 120vh;
}
.foot{
  grid-area: "foot";
}
