.home-page__container {
  height: 130vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(../../public/img/bolson-agro.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.img{
  width: 70vh;
  height: 50vh;
}
.header > .home-title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
  padding: 20%;
}
.header > .title-detail{
  color: aliceblue;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-weight: bold;
  width: 60%;
  margin-left: 20%;
}
.btn{
  background-color: green;
  color: beige;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 5%
}
.btn:hover{
  background-color: greenyellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}